
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');

* {
	margin:0;
	padding:0;
	color:#000;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	box-sizing: border-box;
}


.fn-font {
	font-family: 'Noto Sans KR', sans-serif;
}


ul {
	list-style: none;
}


a {
	text-decoration: none;
	outline: none;
}


.container {
	width:1440px;
	margin:0 auto;
}


header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
  

header > h2 {
	margin-left:20px;
}



header > nav {
	width:600px;
	height:100%;
}
/*
header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
*/

header ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
} 



/*
*/

